html{
  --bg-color: rgb(243, 243, 243);
  --text-color: rgb(31, 31, 31);
}
html[data-theme="dark"]{
  --bg-color: rgb(31, 31, 31);
  --text-color: rgb(243, 243, 243);
}
html[data-theme="color"]{
  --bg-color: rgb(0, 17, 255);
  --text-color: rgb(255, 217, 0);
}
html[data-theme="christmas"]{
  --bg-color: #165B33;
  --text-color: #BB2528;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  transition: 70ms;
}

body {
  height: 100vh;

  background-color: var(--bg-color);
  color: var(--text-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 4rem;
  margin: 10px;
}

.theme-select {
  font-size: 1.5rem;
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: 2px;
}